:root {
    --neon: #2272FF;
    --dark: #1D1D1D;
    --light: #F8F8FF;
}

body {
    background-color: var(--light);
    color: var(--light);
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    color: #660708;
    font-weight: 200;
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    color: #a4161a;
    font-weight: 150;
}

h3 {
    color: #ba181b;
    font-weight: 150;
    margin-bottom: 50px;
}

input, textarea {
    width: 60em;
    margin-bottom: 8px;
    height: 4em;
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid var(--neon);
    border-radius: 4px;
}

input::placeholder, textarea::placeholder {
    font-size: 155%;
    background-color: var(--dark);
    color: var(--light);
}

textarea {
    height: 15em;
}

#contractInput {
    margin-left: 50px;
}

button {
    background-color: #e5383b;
    height: 3em;
    font-size: 125%;
    color: #f5f3f4;
}

#contractDocument {
    color: #0b090a;
}

#contractDocument h1 {
    color: #660708;
    font-weight: 200;
}

#contractDocument h2 {
    color: #a4161a;
    font-weight: 150;
}

#contractDocument h3 {
    color: #ba181b;
    font-weight: 100;
}

#exportPDF {
    display: none;
}